SWORDVERSE_DB_URL=
SWORDVERSE_DB_USERNAME=
SWORDVERSE_DB_PASSWORD=

SWORDVERSE_AUTH_ISSUER=
SWORDVERSE_AUTH_AUDIENCE=
SWORDVERSE_AUTH_SIGNING_KEY_BASE64=
SWORDVERSE_AUTH_ACCESS_TOKEN_TTL=
SWORDVERSE_AUTH_REFRESH_TOKEN_TTL=